@model List<WorkListDto>
<div class="text-end my-2">
    <a asp-action="Create" asp-controller="Home" class="btn btn-success btn-sm">Yeni iş Ekle</a>
</div>
<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>İş</th>
            <th>Durumu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Definition</td>
                <td>@(item.IsCompleted?"Tamamlandı":"Tamamlanmadı")</td>
            </tr>
        }
    </tbody>
</table>